.Form {
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 200px;
    border: 1px solid black;
    border-radius: 2%;
    padding: 20px;
}

.InputWrapper {
    padding: 20px;
}

.ButtonWrapper {
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.Title {
    text-align: center;
}