.Button {
    width: 100%;
    height: 2rem;
    font-size: large;
    border-radius: 5%;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s ease-out;
}

button:hover {
    background-color: lightslategrey;
}

.Success {
    background-color: white;
}

.Danger {
    background-color: red;
}