.NoteCard {
    width: 80%;
    text-align: center;
    height: 300px;
    background-color: white;
    position: relative;
    color: black;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 2px 6px 20px 2px rgba(10, 10, 120, 0.15);
    margin: 10px;
}

.Name {
    display: flex;
    justify-content: left;
    padding-left: 20px;
}

.Content {
    padding: 0 20px;
}

.Bottom {
    position: absolute;
    bottom: 0;
}

hr {
    margin: 0 20px;
}