.Form {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    border-radius: 2%;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 2px 6px 20px 2px rgba(10, 10, 120, 0.15);
}

.InputWrapper {
    padding: 20px;
}

.ButtonWrapper {
    width: 40%;
    height: 5rem;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
}

.ButtonSwitch {
    padding: 10px;
    margin: 10px;
}

.Title {
    text-align: center;
}